@model IEnumerable<ProjetoEmprestimoAspCore.Models.Livro>
@{
    ViewData["Title"] = "Biblioteca";
}

<div>
    <div class="row center">
        <div class="col-lg-9">
            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">
                        <div class="card h-100">
                            @if(item.imgLivro != null)
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [500x300]"
                                style="width: 300px; height: 300px;" src="@item.imgLivro" data-holder-rendered="true" />
                            }else{
                                <img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [500x300]"
                                     style="width: 300px; height: 300px;" src="~/Imagen/image-not-found.jpg" data-holder-rendered="true" />
                            }
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="@item.imgLivro">@item.nameLivro</a>
                                </h4>
                                <spam>Código: @item.idLivro</spam>
                            </div>
                            <div class="card-footer space-between-flex" style="width:90%">
                                <div>
                                    @using (Html.BeginForm("AdicionarItem", "Livro", FormMethod.Post))
                                    {
                                        <input type="hidden" name="id" value="@item.idLivro" />
                                        <input type="hidden" name="quantidade" value="1" />
                                        <button type="submit" class="btn btn-default btn-acao-primario">Adicionar</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
